NODE_ENV=development
PORT=3717
DATABASE_URL="mysql://aistock:aistock@localhost:3306/aistock"
CORS_ORIGINS="http://localhost:3718,http://localhost:3719"
JWT_SECRET="2f8A9#kLp$5qR7tU*vX!zC3mN6bQ8dE" #jwt密钥
JWT_EXPIRES_IN="7d"
ADMIN_INITIAL_USERNAME="admin"
ADMIN_INITIAL_PASSWORD="123456"
ADMIN_INITIAL_DISPLAY_NAME="管理员"
